
html, body {
    height: 100%;
}


footer.bg-faded, nav.navbar.navbar-expand-lg.navbar-light.bg-faded.py-lg-4
{
	/*background-color:#e4e4e4;*/
	color:#4e4e4e;
}

footer.bg-faded, footer.bg-faded a:link, footer.bg-faded a:visited
{
	background-color:#154ae1;
	color:#fff;
}

nav.navbar.navbar-expand-lg.navbar-light.bg-faded.py-lg-4 a:link, nav.navbar.navbar-expand-lg.navbar-light.bg-faded.py-lg-4 a:visited
{
	color:#4e4e4e;
}

div.header-text
{
	text-align:center;
	background-color:#ffffff;
}

div.header-text-custom
{
	color:#000 !important;
}

div.logo
{
	text-align:left;
	margin:0px;
	padding:0px;
}

div.logo img
{
	max-width:195px;
	margin:0px;
}

div.badge, div.badge img
{
	margin:0px;
}
div.badge
{
	margin:0px;
	padding:0px;
}

div.badge img
{
	position: fixed;
	top:0px;
	right:0px;
	max-width: 100px;
	z-index:99;
}

.row
{
	margin-left:0px;
	margin-right:0px;
}

.btn, .btn-secondary
{
	background-color:#154ae1;
	color:#fff;
}

.button-wide
{
	width:100%;
	padding:15px;
}

.button-wide button
{
	width:100%;
	padding:15px;
}

footer
{
	position:absolute;
	width:100%;
}

footer div.container
{
	min-width:95%;
	clear:both;
	float:left;
}

div.social
{
	font-size:2em;
	float:left;
}

@media (min-width:641px) and (min-height:700px)
{
	.wrapper {
    min-height: 100%;
    margin: 0 auto -192px; /* the bottom margin is the negative value of the footer's height */
}
footer, .push {
    height: 192px; /* .push must be the same height as .footer */
}
	div.social, footer div.container;
	{
		min-width:100% !important;
		clear:both !important;
		float:none !important;
	}
	
	div.social
	{
		text-align:center !important;
		float:none;
		clear:both;
	}
}
